body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #333;
	margin: 1em;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1.title {
    font-size: 38px;
}

h4 {
    font-size: 18px;
}

pre.r {
	border: 1px solid #ccc;
	background-color: #fdfdfd;
	padding: .5em;
}

table {
	border-collapse: collapse;
}

table td, table th {
	font-family: monospace;
}

table th {
	padding: .1em .6em;
}

table td {
	border-top: 1px dotted #ccc;
	vertical-align: text-top;
	padding: .4em .6em;
}

table tr.odd {
	background-color: #eee;
}